.introduction-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.introduction-description-text {
    width: 80%;
}

.att_class {
	margin: 10px;
	text-align: center
}
h5 {
	margin-top: 15px;
}
#thebutton {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.recharts-wrapper {
	margin: auto;
}
