.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBEBEB;
}

.text-container {
  height: 100%;
  width: 100%;
  /* background-color: whitesmoke; */
  /* border-radius: 10px; */
}